
<div class="vertical-menu">
    <a href="#" routerLinkActive="active" routerLink='/home' class="borderlist"><i style="font-size:0.8em" class="material-icons">home</i>&nbsp;Home</a>
    <a href="#" routerLinkActive="active" routerLink='/settings' class="borderlist"><i style="font-size:0.8em" class="material-icons">settings</i>&nbsp;Settings</a>
    <a href="#" routerLinkActive="active" routerLink='/marketplace' class="borderlist"><i style="font-size:0.8em"  class="material-icons">shopping_cart</i>&nbsp;Marketplace</a>

  </div>

